# Python
.venv/
__pycache__/
*.pyc

# SQLite
*.db
*.sqlite3

# Environment
.env

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/settings.json

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db